/* View http://dizzyzane.web.fc2.com/SpeedeeArticles/DizzyZane/Blocking/css-blocks/main.less for more information
 */
:root {
  --background-colour: #282a36;
  --text-colour: #eee;
  --unvisited-link-colour: #CF3;
  --visited-link-color: #3CF;
}
@-moz-document domain("theguardian.com") {
  /* the guardian
 * http://www.theguardian.com/commentisfree/2015/may/31/steve-jobs-death-apple-icar
 */
  body > :not(.l-side-margins),
  .l-side-margins > :not(article),
  header .content__main-column > :not(h1):not(.content__standfirst),
  .content__secondary-column,
  .gs-container > :not([class*="main"]),
  .gs-container > [class*="main"] > :not([itemprop]):not(.content__standfirst),
  aside {
    display: none !important;
  }
  .l-side-margins,
  .l-side-margins article,
  .l-side-margins .tonal--tone-comment .tonal__header,
  .tonal--tone-comment .tonal__header .content__headline,
  .tonal--tone-comment .tonal__header .content__head__comment-count .tone-colour {
    background-color: #282a36;
    color: #eee;
  }
  .drop-cap,
  .drop-cap .drop-cap__inner,
  .drop-cap__inner {
    all: inherit!important;
    display: inline !important;
  }
  .content__main-column {
    max-width: none!important;
    margin: 0 !important;
  }
  .tonal--tone-comment .tonal__standfirst .content__standfirst,
  figure {
    max-width: 50%!important;
    margin: 0 auto!important;
    pointer-events: none;
  }
  header {
    text-align: center;
  }
}
@-moz-document domain("forbes.com") {
  /*forbes is one hell of a jerk so it's worth it:
 * http://onforb.es/1kIdVZG
 * http://dizzyzane.web.fc2.com/SpeedeeArticles/DizzyZane/Blocking/
 */
  ::before,
  ::after,
  .article-header .article-topper,
  .article-contrib-container,
  .article-article-body .article-text ~ *,
  .vestpocket[vest-pocket],
  .page-main > :not(#article-page),
  .tweet_quote span::before,
  .tweet_quote span::after,
  #app > :not(#navigation),
  .navigation-container *:not(a) {
    display: none!important;
  }
  .page-main {
    padding-left: 0 !important;
  }
  img {
    max-width: 50%!important;
    display: block!important;
    margin: 0 auto!important;
  }
  .wp-caption-text {
    display: block;
    text-align: center;
  }
  [href*="twitter"][href*="intent"],
  .tweet_quote {
    pointer-events: none;
    cursor: vertical-text;
  }
  .page-main .article-container.comments-expanded,
  .page-main .article-container.nav-expanded,
  .page-main .article-container.trending-expanded {
    transform: translate(0, 0) !important;
  }
  #article-container-spinner {
    position: relative;
    top: 50vh;
  }
  .article-header .article-headline {
    font-size: 1em !important;
  }
  h1,
  .page-main .article-article-body .article-body-content {
    margin: 0 !important;
  }
  .navigation-container .countdown,
  .navigation-container .continue-button {
    position: fixed;
    top: 1em;
    left: 1em;
    display: block;
    width: calc(98%);
    height: calc(100% - 2em);
  }
  .navigation-container .continue-button {
    z-index: 9999!important;
    opacity: 1!important;
    visibility: visible!important;
    display: block!important;
    color: snow!important;
    background: #666!important;
  }
}
@-moz-document domain("engadget.com") {
  /* engadget
 * View http://www.engadget.com/2016/01/08/you-say-advertising-i-say-block-that-malware/ for a demonstration
 */
  body > div > div > :not(.z-0),
  .z-0 > [role]:not(main),
  main > :not(.container\@tp\+),
  .grid.flex > :first-child,
  header > div > div > :not([class*="title"]),
  footer {
    display: none!important;
  }
  iframe,
  img,
  svg,
  picture {
    margin: 0 auto!important;
    display: block;
  }
  img,
  svg,
  picture {
    max-width: 50%!important;
  }
  .col-8-of-12\@tl\+,
  .col-12-of-15\@d {
    width: auto !important;
  }
}
/* cracked.com blockingg/changes
* Only recommended for articles
*/
@-moz-document domain("cracked.com") {
  body > :not(.mainFrame):not(#wrapper),
  .mainFrame > :not(:last-child),
  #safePlace ~ * {
    display: none !important;
  }
  #safePlace {
    width: auto;
    max-width: none;
    margin: 0 auto;
  }
}
@-moz-document domain("wired.com") {
  /* wired.com
  * Example: http://www.wired.com/2016/01/things-will-get-messy-if-we-dont-start-wrangling-drones-now/
  */
  body > :not(main),
  aside,
  #o-gallery,
  figure div,
  #article-tags,
  header#post-header > ul,
  [data-js="cnePlayer"],
  [data-js="cnePlayer"] ~ * {
    display: none !important;
  }
  body {
    padding-top: 0 !important;
  }
  .article-group,
  .site-container {
    width: auto!important;
    max-width: none !important;
  }
  #post-header,
  figure {
    display: block;
    margin: 0 auto!important;
    padding: 0!important;
    max-width: 75% !important;
  }
  article,
  .post,
  .fixed {
    position: relative!important;
    top: 0!important;
    left: 0!important;
    height: auto!important;
    margin-bottom: 1rem !important;
  }
  article {
    margin: 0 auto!important;
    max-width: 80% !important;
  }
  .article-group .flex-row {
    max-width: 66%;
  }
}
@-moz-document domain("destructoid.com") {
  /* destructoid.com
  * http://www.destructoid.com/bayonetta-and-corrin-hit-smash-bros-next-week-337925.phtml
  */
  body > :not(.page-wrapper),
  .page-wrapper > :not(.main-wrapper),
  .content > .row > :not(.blog-posts),
  h6,
  .fancy-title::after,
  .fancy-title span,
  #tagsbox,
  #tagsbox ~ :not(b):not(a),
  [href="https://disqus.com/home/settings/email/"] {
    display: none !important;
  }
  .col-md-8,
  #desktoppadding {
    width: 100% !important;
  }
  img,
  iframe {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}
@-moz-document domain("arstechnica.com"), domain("arstechnica.co.uk") {
  /* Functions on all variants of arstechnica that I could find
  * http://arstechnica.com/business/2016/01/google-fiber-testing-home-phone-service-to-complete-triple-play-bundle/
  * http://arstechnica.co.uk/science/2016/01/crows-the-tail-pulling-food-stealing-bird-prodigies/
  */
  #container > :not(#content),
  #top-story,
  body.single-post #article-guts ~ *,
  .post-meta,
  #archive-head,
  #article-sidebar {
    display: none !important;
  }
  #container,
  #content,
  article {
    width: 95%!important;
    padding: 5px!important;
    margin: 0 auto;
    border: 0 !important;
  }
  figure {
    width: 50%!important;
    max-width: 50%!important;
    margin: 0 auto !important;
  }
  figure img {
    width: auto;
    height: auto;
  }
  body,
  #container,
  #content,
  article.standalone,
  .article-content,
  .heading {
    color: #eee;
    background: #282a36;
  }
  h2.standalone-deck,
  figcaption {
    color: #aaa;
  }
  a:link {
    color: #CF3 !important;
  }
  a:visited {
    color: #3CF !important;
  }
}
@-moz-document domain("thenextweb.com") {
  /* thenextweb.com
  * EG: http://thenextweb.com/shareables/2016/01/26/pikawho/
  */
  .sidebar,
  .postContent ~ *,
  body > :not(#main),
  .l-postSingle-header-inner > :not(h1) {
    display: none !important;
  }
  .l-postSingle-content .l-postSingle-content-main {
    width: 100% !important;
  }
  .l-postSingle-content-main-photo {
    width: 50%;
    margin: 0 auto;
    background-size: contain;
  }
  .postGrid-post .image.lazyloadableImage,
  .lazyloadableImage {
    opacity: 1 !important;
  }
  body {
    padding: 0 !important;
  }
  iframe {
    display: block;
    margin: 0 auto;
  }
}
@-moz-document domain("ign.com") {
  /* Just IGN...
  *
  */
  .video-embed-container,
  .article-label,
  [itemprop="author"],
  .article_divider,
  .clear,
  .article_byLine,
  #ignFooter-container,
  #article_comments,
  .article_byLine.clear,
  .grid_8.coverStoriesShift,
  #shareThis,
  .icon-sharrow,
  .article-share-count-container,
  .article-share-count-container *,
  .hero-unit-container,
  .article-comments,
  .widget-objectcard,
  header,
  aside,
  footer,
  .accentDivider,
  .accentDivider ~ * {
    display: none !important;
  }
  .container_24.clear {
    display: block !important;
  }
  img {
    width: 50%!important;
    margin: 0 auto!important;
    display: block !important;
  }
  .grid_16,
  .ign-content,
  article,
  #article-content {
    width: 99%!important;
    padding: 0px!important;
    margin: auto !important;
  }
  .video-embed-container,
  .ign-videoplayer {
    background-color: darkred!important;
    width: 640px!important;
    height: 480px!important;
    margin: 0 auto!important;
    max-width: 640px!important;
    max-height: 480px!important;
    overflow: hidden!important;
  }
  h1,
  h2 {
    width: 90%!important;
    text-align: center;
  }
  .ign-grid-stripe {
    border: 0 !important;
  }
}
@-moz-document domain("theverge.com") {
  /* TheVerge.com
  * EG: http://www.theverge.com/2016/1/31/10878544/microsoft-onedrive-free-storage-claim
  */
  body > :not(.l-container),
  .l-container > :not(.l-page),
  .l-page > :not(article):not(div),
  .m-entry__body .m-entry__sidebar,
  header > :not(h1),
  .m-article__sources,
  .m-entry__content > :not(.m-article__entry-section),
  article > div:not(.m-entry__body) {
    display: none !important;
  }
}
@-moz-document domain("androidpolice.com") {
  body > :not(.content),
  .post > div:not(.post-content),
  header > :not([itemprop="name"]),
  .primary.column > :not(.post),
  #sbar,
  .pr,
  header:only-child,
  .category-deals {
    display: none !important;
  }
  .primary.column {
    width: 100% !important;
  }
  .post-hero {
    width: 50%;
    margin: 0 auto!important;
    display: block;
  }
}
@-moz-document domain("sciencenews.org") {
  /* sciencenews.com
 * EG: https://www.sciencenews.org/article/gravity-waves-black-holes-verify-einsteins-prediction
 */
  .node .article-terms,
  .node .field-name-field-op-author,
  header#section-header,
  aside,
  .node .field-name-body ~ *,
  .service-links,
  .node .field-name-field-sn-copyright,
  body > :not(#page),
  #page > :not(section),
  #zone-content > :not(#region-content),
  #block-system-main ~ * {
    display: none !important;
  }
  #region-content {
    width: auto !important;
  }
  body.page-node #region-content .full-node .field-name-field-op-main-image,
  body.page-node #region-content .full-node .field-name-field-op-caption {
    margin: 0 auto!important;
    max-width: 50% !important;
  }
  body,
  .node h1.node-title {
    color: #eee;
    background: #282a36;
  }
  .node .field-name-field-sn-subtitle h2 {
    color: #aaa;
  }
}
